.card-box {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.card-box_place_services {
  justify-content: flex-start;
}

.card-box_place_activity {
  justify-content: flex-start;
}

.card-box_place_activity-main {
  flex-wrap: nowrap;
}

@media screen and (max-width: 1450px) {

  .card-box_place_about {
    justify-content: start;
  }

  .card-box_place_rent {
    justify-content: start;
  }

}