.doc-items-container {
  /* height: 100%; */

}

.doc-items-container_place_anticorr {
  overflow: hidden;
  max-height: 64px;
  transition: max-height .45s ease-in-out;
  margin-bottom: 30px;
}

.doc-items-container_place_anticorr:hover {  
  cursor: pointer;
}

.doc-items-container_active {
  max-height: 100%;
}

.doc-items {

}

.doc-items_place_anticorr {
  position: relative;  
  transform: scaleY(0);
  transform-origin: top;
  transition: all .45s ease-in-out;
}

.doc-items_active {
  transform-origin: top;
  transform: scaleY(1);
}

@media screen and (max-width: 450px) {
  .doc-items-container_place_anticorr:nth-of-type(2) {
    max-height: 35px;
  }
  .doc-items-container_active:nth-of-type(2) {
    max-height: 100%;
  }
}