.news-box {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

@media screen and (max-width: 1450px) {
  .news-box {
    justify-content: space-between;
  }
}