.collective-page {
  margin: -50px 0 0 0;
}

.collective-page__conditions {
  position: relative;
  display: flex;
}

.collective-page__descriptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}

.collective-page__descriptions-info {
  max-width: 730px;
}

.collective-page__title {
  margin: 0 0 60px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #974269;
}

.collective-page__info {
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
}

.collective-page__image {
  margin-right: 25px;
  position: relative;
  object-fit: contain;
  object-position: top;
  /* width: 100%; */
  /* max-width: 352px; */
}

.collective-page__conditions:hover .buttons-box {
  opacity: 1;
}

@media screen and (max-width: 1450px) {

  .collective-page__title {
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 780px) {

  /* .collective-page__descriptions {
    flex-direction: column;
  } */

  .collective-page__descriptions {
    margin-bottom: 120px;
  }
}