.header-mobile {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 20px 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}


@media screen and (max-width: 450px) {
  /* .header-mobile {
    margin-bottom: 100px;
  } */
}

.header-mobile_place_another-page {
  background-color: #974269;
}