.time-lesson {
  min-width: 340px;
  margin-right: 25px;
}

.time-lesson__item {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 146.4%;
  color: #442836;
}

.time-lesson__title {
  margin: 0 0 27px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #442836;
}


@media screen and (max-width: 780px) {


  .time-lesson__item:last-of-type {
    margin: 0 0 50px 0;
  }

  .time-lesson__title {
    margin: 0 0 20px 0;
  }
}