.photo-container {
  position: relative;
  width: 350px;
  height: 224px;
  overflow: hidden;
  margin-right: 26px;
  margin-bottom: 26px;
}

.photo-container__image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-container:nth-of-type(4n) {
  margin-right: 0;
}

 .photo-container::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url('../../../../../images/zoom-in.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  content: "";  
  opacity: 0;
  transition: .15s ease-in all ;
}

.photo-container:hover::after {
  background-image: url('../../../../../images/zoom-in.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  cursor: pointer;
  opacity: .5;
} 