.events-main {
  position: relative;
  max-width: 1600px;
  margin: 0 auto 200px;
  padding: 0 60px;
  box-sizing: border-box;
}


@media screen and (max-width: 780px) {
  .events-main {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .events-main {

  }
}