.activity {
  position: relative;
  padding: 0 0 0 60px;
  max-width: 1600px;
  margin: 0 auto 180px;
  box-sizing: border-box;
}

.activity_place_event {
  padding: 0;
}

.activity__add-event-button {
  position: absolute;
  right: 0;
  top: 0;
}