.corruption {
  position: relative;
  max-width: 1600px;
  padding: 0 60px;
  box-sizing: border-box;
  margin: 0 auto;
}

.corruption__link-measures {
  display: block;
  margin-bottom: 150px;
  margin-top: 200px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  text-transform: uppercase; 
  color: #442836;
}

.corruption__link-measures:hover {
  color: #974269;
}