.popup {
  background: rgba(151, 66, 105, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  z-index: 5;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s linear;
}

.popup_func_add-worker {

}

.popup__container {
  position: relative;
  background: white;
  max-width: 430px;
  padding: 46px 36px 52px 36px;
  box-sizing: border-box;
}

.popup__title {
  margin: 0 0 50px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #442836;
}

.popup__form {

}

.popup__form_type_signin {
  
}

.popup__submit {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  text-transform: uppercase;  
  color: #974269;
  width: 100%;
  padding: 16px 0;
  border: 1px solid #974269;
  box-sizing: border-box;
  background: transparent;
}

.popup__submit:hover {
  cursor: pointer;
}

.popup__submit_disabled {  
  color: rgba(151, 66, 105, 0.2);
  border: 1px solid rgba(0, 0, 0, .2);
}

.popup__submit_disabled:hover {
  cursor: default;
}