.activity-main {
  position: relative;
  max-width: 1600px;
  margin: 0 auto 250px;
  padding: 0 60px;
  box-sizing: border-box;

  /* overflow: hidden; */
  /* min-height: 600px; */
}

.activity-main__scroll-container {

  overflow: scroll;
  overflow-y: hidden;
  padding: 0;
  min-width: 1000px;
}

.activity-main__scroll-container::-webkit-scrollbar {
  width: 0;
}