.activity-main {
  position: relative;
  max-width: 1600px;
  margin: 0 auto 250px;
  padding: 0 60px;
  box-sizing: border-box;

  /* overflow: hidden; */
  /* min-height: 600px; */
}

.activity-main__scroll-container {
  overflow: auto;
  /* overflow-y: hidden; */
  scrollbar-width: none;
  padding: 0;
  min-width: 1000px;
  
}

.activity-main__scroll-container::-webkit-scrollbar {
  width: 0;
  overflow: -moz-scrollbars-none;
}

@media screen and (max-width: 780px) {

  .activity-main {
    padding: 0 20px;
    margin: 0 auto 217px;
  }

  .activity-main__scroll-container {
    min-width: 100%;
    overflow: visible;
    overflow-y: visible;
  }

}
@media screen and (max-width: 450px) {

  .activity-main {
    width: 100%;
    margin: 0 auto 100px;
    padding: 0 12px;
  }

  .activity-main__scroll-container {
    width: 100%;
    margin: 0 auto;
  }

}