.title-shadow {
  position: absolute;
  top: -275px;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 144px;
  line-height: 176px;  
  text-transform: uppercase;
  box-sizing: border-box;
  text-overflow: ellipsis;  
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(151, 66, 105, 0.3);
}

.title-shadow_place_events {
  
}

.title-shadow_place_main {
  top: -110px;
}

.title-shadow_place_events-main {
  top: -110px;
}

.title-shadow_place_news-main {
  top: -110px;
}

.title-shadow_place_news {
  top: 70px;
}

.title-shadow_place_festivals {
  top: -285px;
}

.title-shadow_place_dance-main {
  top: -105px;
}