.popup {
  background-color: #974269;
  /* opacity: .7; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup_opened {
  visibility: visible;
  opacity: .8;
  transition: opacity .3s linear;
}

.popup_func_add-worker {

}

.popup__container {
  position: relative;
  background-color: white;
  max-width: 430px;
  padding: 46px 36px 52px 36px;
}

.popup__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #442836;
}

.popup__form {

}

.popup__submit {

}