.root {
  /* max-width: 1600px; */
  width: 100%;
 overflow: hidden;
}

.app {
  background-color: #fff;
  min-height: 100%;
  /* width: 100%; */
  /* max-width: 1600px; */
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}

.app__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
}
