.input {
  position: relative;
  height: 28px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);  
  transition: all .2s ease-in;
}

.input:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.input::placeholder {
  opacity: .2;
}

.input_type_file {
  position: absolute;
  left: 0;
  top: 0;
  clip: rect(0 0 0 0);
}

.input_type_file::after {

}

.input__span {
  display: block;
  margin-bottom: 40px;
  height: 30px;
  width: 100%;
  color: rgba(68, 40, 54, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  transition: all .2s ease-in;
}

.input__span:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}

.input__span:active {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.input__span_active {
  background-image: url('../../../../images/UI/skrepka.png');
  background-repeat: no-repeat;
  background-position: right;  
}