.modversion {
  padding: 0;
  margin-right: 130px;
  background-color: transparent;
  border: none;
  font-family: Montserrat;
  max-width: 110px;
  text-align: start;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: white;
}

@media screen and (max-width: 1450px) {
  .modversion {
    margin-right: 100px;
  }
}