.composition {
  position: relative;
  display: flex;  
  margin-bottom: 100px;
}

.composition::before {
  position: absolute;  
  bottom: -50px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background:rgba(30, 30, 30, 0.5);
}

.composition__service {
  min-width: 752px;
}

@media screen and (max-width: 1450px) {
  .composition__service {
    min-width: 580px;
    max-width: 590px;
  }
}