.history {
 position: relative;
}

.history__intro {
  display: flex;
  align-items: flex-start;
  margin-bottom: 150px;
}

.history__intro-img {
  object-fit: contain;
  margin-right: 24px; 
}

.history__text {
  position: relative;
  margin: 0;
  max-width: 352px;  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}



.history__text_place_about { 
  margin: 10px 0 0 0;
}

.history__text_place_end {
  padding-right: 20px;
  margin-top: 20px;
}

.history__text_place_content::after {
  position: absolute;
  left: 0;
  top: -50px;
  content: "";
  height: 1px;
  width: 330px;
  background:#868686;
}


.history__text-span {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1E1E1E;
  margin-bottom: 50px;
}

.history__text_place_content-span { 
  display: block;
  margin: 10px 0 0 0;
}

.history__text-span_place_intro {
  display: block;
  margin-bottom: 48px;
  padding-right: 70px;
}

.history__text-span_place_content {

}

.history__text-span_place_end {
  
}

.history__text-span::after {
  position: absolute;
  left: 0;
  top: -50px;
  content: "";
  height: 1px;
  width: 352px;
  background:#868686;
}


.history__intro-text-container {
  max-width: 352px;
  padding-top: 50px;
  padding-right: 50px;  
}

.history__about {
  position: relative;
  display: flex;
  
  
  margin-top: 50px;
  margin-bottom: 100px;
}

.history__about-container {
  margin-right: 24px;
  padding-left: 376px;
}

.history__about::after {
  position: absolute;  
  top: -50px;
  left: 376px;
  content: "";
  height: 1px;
  width: 728px;
  background:#868686;
}

.history__rename {
  /* max-width: 352px; */
  display: flex;
  margin-bottom: 100px;
}

.history__text-span_place_about {  
  margin: 0;
  max-width: 350px;
  margin-top: 50px;
  
}

.history__rename-img {
  margin-left: 28px;
}

.history__content {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.history__text_place_content {
  margin-right: 25px;
}

.history__end {
  padding-left: 380px;  
  display: flex;  
}

.history__end-img {
  padding-right: 22px;
  width: 352px;
  height: 508px;
}

.history__end-container {
  max-width: 334px;
  margin-top: 50px;
}