.copyright {
  display: block;
  font-family: Montserrat;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFF;
}

@media screen and (max-width: 780px) {

  .copyright {
    margin-top: 10px;
  }
}