.signin-button {
  font-family: Montserrat;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  text-transform: uppercase; 
  color: #FFF;
}

.signin-button:hover {
  cursor: pointer;
}