.collectives {
  position: relative;
  max-width: 1600px;
  padding: 0 60px;
  box-sizing: border-box;
  margin: 0 auto 180px;
}


@media screen and (max-width: 780px) {
  .collectives {
    padding: 0 20px;
    margin: 0 auto 100px;
  }
}