.image-container {
  position: relative;
  width: 100%;
  min-width: 728px;
  height: 100%;
  /*left: 0;*/
  /*transition: left 0.3s ease-in-out;*/
}

.carusel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .image-container_temp {
  left: -728px;
} */

@media screen and (max-width: 1450px) {
  .image-container {

    /* min-width: 600px; */

  }
}

@media screen and (max-width: 450px) {
  .image-container {
    min-width: 100%;
  }
}