.header-container {
  display: flex;
  align-items: center;
  padding: 0 60px;
  min-height: 100px;
  max-width: 1600px;
  margin: 0 auto 100px;

}

.header {
  position: relative;
  background-color: #974269;
  z-index: 5;
}