.popup__image-content {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
  margin: 0;
}

.popup__image {
  max-height: 75vh;
  max-width: 75vw;
}

.popup__button-close {
  display: block;
  background: url(../../../../images/close-icon.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 0;
  padding: 0;
  background-position: center;
  cursor: pointer;
  transition: ease-in 0.07s All;
  transition-property: opacity;
  right: -35px;
  top: -35px;
  opacity: 0.6;
}

.popup__button-close:hover {
  opacity: 0.8;
}

.popup__button-close:active {
  outline: none;
}

.popup__button-close:focus {
  outline: none;
}

.popup__button-back {
  padding: 0;
  position: absolute;
  left: -150px;
  top: 50%;
  width: 45px;
  height: 45px;
  transform: translateY(-50%); 
  background: url(../../../../images/left-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  opacity: 0.6;
}

.popup__button-next {
  padding: 0;
  position: absolute;
  right: -150px;
  top: 50%;
  width: 45px;
  height: 45px;
  transform: translateY(-50%) rotateY(180deg);
  background: url(../../../../images/left-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  opacity: 0.6;
}

.popup__button-back:hover {
  cursor: pointer;
  opacity: 1;
}

.popup__button-next:hover {
  cursor: pointer;
  opacity: 1;
}