.event {
  position: relative;
  padding: 0 60px 0 60px;
  min-height: 250px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(134, 134, 134, .5);
  box-sizing: border-box;
}

.event:first-child {
  border-top: 1px solid rgba(134, 134, 134, .5);
}

.event:hover {
  border-bottom: 1px solid rgba(134, 134, 134, .0);
}


.event::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(151, 66, 105, 0.8), rgba(124, 87, 104, 0.8));
  z-index: 1;  
}

.event::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  transition: all ease-in-out .2s;
}

.event:hover::after  {
  opacity: 0;
}

.event__image {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.event__title {
  position: relative;  
  max-width: 350px;
  padding: 0;
  /* margin-right: auto; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #442836;
  z-index: 3;
}

.event:hover .event__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.event__subtitle {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 146.4%;
  color: #442836;
  z-index: 3;
}

.event:hover .event__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 146.4%;
  color: #FFFFFF;
}

.event__link {
  position: relative;
  margin-right: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;  
  color: #442836;
  z-index: 4;
}

.event:hover .event__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.event:hover .event-time__day{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
}

.event:hover .event-time__month-year{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 146.4%;
  color: #FFFFFF;
}

.event:hover:hover .event-time__current-time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 146.4%;
  color: #FFFFFF;
}

.event__arrow {
  position: relative;  
  height: 16px;
  width: 16px;
  fill: #442836;
  z-index: 3;
  display: flex;
  align-items: center;
}

.event:hover .event__arrow {
  fill: #fff;
}