.policy-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;  
  color: #FFF;
}

.phone__link_place_footer {
  text-decoration: underline;
  display: block;
}

@media screen and (max-width: 780px) {

  .phone__link_place_footer {

  }

  .policy-link {
    text-decoration: none;
    margin-bottom: 25px;
  }
}