.policy-link {
  margin: 0 132px 0 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;  
  color: #FFF;
  white-space: nowrap;
}

.phone__link_place_footer {
  text-decoration: underline;
  display: block;
}

@media screen and (max-width: 1450px) {

  .phone__link_place_footer {
    margin: 0 auto 0 0;
  }

}

@media screen and (max-width: 780px) {

  .phone__link_place_footer {

  }

  .policy-link {
    text-decoration: none;
    margin-bottom: 25px;
  }
}