.doc-box-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #442836;
  margin: 0 0 40px 0;
  max-width: 550px;
}

.doc-box-title_place_anti-corr-docs {
  max-width: 1200px;
}