.news-main {
  position: relative;
  margin-bottom: 200px;
  padding: 0 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 780px) {
  .news-main  {
    padding: 0 20px;
  }
}

@media screen and (max-width: 450px) {
  .news-main  {
    padding: 0 12px;
    margin-bottom: 50px;
  }
}